BasedOnStyle: LLVM
BreakBeforeBraces: Allman
IndentWidth: 4
ContinuationIndentWidth: 4
ColumnLimit: 120
# AlignConsecutiveAssignments: true

AlignAfterOpenBracket: DontAlign
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AlignTrailingComments: true

